poeagent @git+https://github.com/laruss/poeagent.git
flask~=3.0.0
flask-cors~=4.0.0
Flask-PyMongo~=2.3.0
flask_swagger_ui~=4.11.1
pydantic~=2.5.2
pymongo~=4.6.1
python-dateutil~=2.8.2
python-decouple~=3.8
